{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% import "::macro.html.twig" as macro_uft %}
{% block page_content %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block title %}Novo{% endblock %}
{% block page_title %}Novo{% endblock %}
{% block page_subtitle %}- SubNovo{% endblock %}

{% block avanzu_admin_footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; {{ "now"|date("Y") }} <a href="http://uft.edu.br">DTI - UFT</a>.</strong> All rights reserved.
    </footer>
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/slu/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tema/vendor/adminlte/dist/css/skins/skin-uft.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
{% endblock %}

