{% extends "::base.html.twig" %}

{% block content -%}
    <div class="row"><!--  Primeira linha de informações - cabecalho -->

        <div class="col-md-12">
            <div class="small-box bg-teal">
                <div class="inner">
                    <h3>EXEMPLO BASE</h3>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
                    </p>


                    <a class="btn btn-app bg-teal" href="">
                        <i class="fa fa-edit"></i> Action
                    </a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="btn btn-app bg-teal" href="">
                        <i class="fa fa-edit"></i> Novo Action
                    </a>

                    {% endif %}
                </div>
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                {#<a href="#" class="small-box-footer">#}
                    {#Ver mais informa&ccedil;&otilde;es <i class="fa fa-arrow-circle-right"></i>#}
                {#</a>#}
            </div>
        </div>


    </div><!-- /row primeira linha de informacoes - cabecalho -->



    {#<span class="glyphicon glyphicon-pencil"><a href="{{ path('campus') }}">Cadastrar Campus</a></span>#}
    {#<span class="glyphicon glyphicon-remove"><a href='#' onclick="document.deletarform.submit();">Deletar</a></span>#}
{% endblock content %}

