{% extends "GpuBundle::base.html.twig" %}

{% block content %}
    <h1>Editar Perfil</h1>
    <ul class="record_actions">
        <li>
            <a href="{{ path('homepage') }}">
                Voltar
            </a>
        </li>
    </ul>
    <div class="well">
        <div class="row clearfix">
            <div class="col-md-offset-1 col-md-4 column">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock content %}
